<section  class="activity py-5" id="activity" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
    <h2 class="main-heading">Nos Activités</h2>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-informatique rounded">
            <div class="h1 mt-5">
              <i class="fas fa-laptop-code"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Informatique</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-lecture rounded">
            <div class="h1 mt-5">
              <i class="fa fa-book"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Lecture</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-musique rounded">
            <div class="h1 mt-5">
              <i class="fas fa-guitar"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Musique</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-theatre rounded">
            <div class="h1 mt-5">
              <i class="fas fa-mask"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Theatre</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-danse rounded">
            <div class="h1 mt-5">
              <i class="fa fa-child"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Danse</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-robotique rounded">
            <div class="h1 mt-5">
              <i class="fas fa-robot"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Robotique</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-calcul rounded">
            <div class="h1 mt-5">
              <i class="fas fa-divide"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Calcul Mental</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-3">
          <div class="card box-anglais rounded">
            <div class="h1 mt-5">
              <i class="fa fa-globe"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Anglais</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>