<div class="slider" id="home">
    <div id="main-slider" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="overlay"></div>
        <div class="text">
          <div class="content">
            <h2>A l'Ecole Primaire Privée De Carthage On Dispose :</h2>
            <ul>
                <li>
                    <p>Encadrement De Haut Niveau</p>
                </li>
                <li>
                    <p>Suivi Pédagogique Continu</p>
                </li>
                <li>
                    <p>Soutien Scolaire</p>
                </li>
            </ul>
          </div>
        </div>
        <div class="carousel-item active" data-bs-interval="3000">
          <img
            src="assets/imgs/landing-01.jpg"
            class="d-block w-100"
            alt="First Slide"
          />
        </div>
        <div class="carousel-item" data-bs-interval="3500">
          <img
            src="assets/imgs/landing-02.jpg"
            class="d-block w-100"
            alt="Second Slide"
          />
        </div>
        <div class="carousel-item" data-bs-interval="3500">
          <img
            src="assets/imgs/landing-03.jpg"
            class="d-block w-100"
            alt="Third Slide"
          />
        </div>
      </div>
    </div>
</div>
