<section class="presentation py-5" id="school" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
    <h2 class="main-heading">Notre Ecole</h2>
    <div class="container">
      <div class="image">
        <img src="assets/imgs/presentation.jpg" class="img-fluid">
      </div>
      <div class="text py-1">
        <p>
          L’école de Carthage est une école primaire privée tunisienne
          rattachée au Ministère de l'Education Tunisien qui se conforme au
          programme officiel tunisien.
        </p>
        <p>
          L’apprentissage à l'école de Carthage se fait dans une ambiance
          familiale et respect mutuel entre élèves, enseignants et direction
          de l'école.
        </p>
        <p>
          Dans notre école, nous offrons un enseignement dans le respect des
          programmes officiels de l’éducation et nous offrons aussi une
          éducation plurilingue où l’anglais et le français sont enseignés dès
          la grande section (5 ans) avec l’informatique.
        </p>
        <p>
          L’école de Carthage, en plus de sa mission éducative éduque ses
          élèves aux valeurs de la vie tel que la solidarité, le travail en
          équipe, le respect mutuel, la responsabilité…
        </p>
      </div>
    </div>
</section>