<section class="parcours py-5" id="program" >
    <h2 class="main-heading">Parcours Scolaire</h2>
    <div class="container">
      <div class="timeline-content">
        <div class="classes">
          3 ans <br />
          + <br />
          4 ans
        </div>
        <div class="left">
          <div class="content">
            <h5>Classes Maternelles</h5>
            <p>
              L'objectif de ces classes sera de développer la créativité et
              l'autonomie de l'enfant et encourager son développement affectif
              et social.
            </p>
            <br />
            <p>
              Chaque classe de maternelle est encadré par un professeur des
              écoles. Il est accompagné par une aide maternelle qui apporte
              une assistance technique et éducative et notamment veille aux
              soins corporels et à l'hygiène des enfants.
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="classes">5 ans</div>
        <div class="right">
          <div class="content">
            <h5>Classes Préparatoires</h5>
            <p>
              La classe préparatoire appartient à la fois au cycle enfantine
              et au cycle primaire durant la deuxième partie de l’année.
            </p>
            <br />
            <p>
              Elle prépare à l’entrée à l’école primaire, tout en gardant les
              privilèges de la maternelle dans la souplesse du programme et du
              rythme scolaire de la journée.
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="classes">
          6 ans <br />
          => <br />
          12 ans
        </div>
        <div class="left">
          <div class="content">
            <h5>Classes Primaires</h5>
            <p>
              Ces classes visent à développer le savoir-étudier, à faire
              apprendre des bases de la langue parlée et écrite ainsi qu’à
              lire et à écrire aux élèves.
            </p>
            <br />
            <p>
              De même, il a pour but de développer les capacités
              intellectuelles des enfants et d’assister à l’acquisition des
              connaissances dans les sciences naturelles et humanitaires, au
              développement des capacités physiques, de la motricité, ainsi
              qu’à la formation du sens des responsabilités civiles et
              sociales.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>