<div class="footer">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 col-sm-12 school">
          <h3 class="box-school p-3 text-light fw-bold">Carthage School</h3>
          <p class="py-2 fw-bold">Informations de l'école</p>
          <div class="line">
            <i class="icon fas fa-map-marker-alt fa-fw"></i>
            <div class="info">Tunis, Tunisie</div>
          </div>
          <div class="line">
            <i class="icon fas fa-clock fa-fw"></i>
            <div class="info">
              <span>Lundi - Vendredi : 08h00 à 18h00</span>
              <span>Samedi : 08h00 à 12h00</span>
            </div>
          </div>
          <ul class="social" style="list-style-type:none;">
            <li>
              <a href="#" class="facebook">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" class="instagram">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#" class="youtube">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#" class="linkedin">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-12 contact">
          <h3 class="box-contact p-3 text-light fw-bold">Contact</h3>
          <p class="py-2 fw-bold">
            Pour plus d'information vous pouvez nous contacter par mail ou par téléphone
          </p>
          <div class="line">
            <i class="icon fas fa-phone-volume fa-fw"></i>
            <div class="info">
              <span>(+216) 50 000 000</span>
              <span>(+216) 70 000 000</span>
            </div>
          </div>
          <div class="line">
            <i class="icon fas fa-envelope"></i>
            <div class="info">carthageschool@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
    <p class="copyright m-0">&copy; copyright 2022 All Rights Reserved</p>
</div>