<div class="stats">
    <div class="container">
      <div class="box">
        <i class="fa fa-book"></i>
        <span class="number">80</span>
        <span class="text">Matières</span>
      </div>
      <div class="box">
        <i class="fas fa-user-graduate"></i>
        <span class="number">120</span>
        <span class="text">Elèves</span>
      </div>
      <div class="box">
        <i class="fas fa-laptop-code"></i>
        <span class="number">8</span>
        <span class="text">Clubs</span>
      </div>
      <div class="box">
        <i class="fa fa-users"></i>
        <span class="number">50</span>
        <span class="text">Enseignants</span>
      </div>
    </div>
</div>