<section class="services py-5" id="services" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
    <h2 class="main-heading">Nos Services</h2>
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-6 col-lg-3 mb-5" data-aos="fade-right" data-aos-duration="1300" data-aos-once="true">
          <div class="card box-cantine">
            <div class="h1 mt-5">
              <i class="fas fa-utensils"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Cantine</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-5" data-aos="fade-up" data-aos-duration="1300" data-aos-once="true">
          <div class="card box-infirmerie">
            <div class="h1 mt-5">
              <i class="fas fa-briefcase-medical"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Infirmerie</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-5" data-aos="fade-down" data-aos-duration="1300" data-aos-once="true">
          <div class="card box-clubs">
            <div class="h1 mt-5">
              <i class="fas fa-laptop-code"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Clubs</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-3 mb-5" data-aos="fade-left" data-aos-duration="1300" data-aos-once="true">
          <div class="card box-bus">
            <div class="h1 mt-5">
              <i class="fas fa-bus-alt"></i>
            </div>
            <div class="card-body mb-5 text-center">
              <p class="card-title fw-bold">Bus</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
