<div class="contact py-5" id="contact" data-aos="fade-up" data-aos-duration="900" data-aos-once="true">
    <h2 class="main-heading">Contact</h2>
    <div class="container">
      <div class="content">
        <form action="">
          <input
            class="main-input"
            type="text"
            name="name"
            placeholder="Nom"
          />
          <input
            class="main-input"
            type="email"
            name="mail"
            placeholder="Email"
          />
          <input
            class="main-input"
            type="tel"
            name="tel"
            placeholder="Téléphone"
          />
          <textarea
            class="main-input"
            name="message"
            placeholder="Message"
          ></textarea>
          <input type="submit" value="Envoyer" />
        </form>
        <div class="info">
          <h4 class="mt-4">Telephone :</h4>
          <span class="phone">(+216) 50 000 000</span>
          <span class="phone mb-4">(+216) 70 000 000</span>
          <h4>Adresse :</h4>
          <p class="mb-4">Tunis, Tunisie</p>
          <h4>Email :</h4>
          <p class="mb-4">carthageschool@gmail.com</p>
        </div>
      </div>
    </div>
</div>